{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <h1>Буду краток</h1><br>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Пишу на Python в Visual Studio Code.</p>
      <p>Для написания этого вэб-приложения пользуюсь фреймворком Django.</p>
    </article>
  </div>
{% endblock %}
